@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
/* ########header########## */
.top {
  background-color: black;
  padding: 12px 4px;
}
.top p {
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 300;
}
.top p span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid #f0f0f0;
}
.top .cross {
  display: flex;
  justify-content: flex-end;
}
.top .fa-xmark {
  color: white;
  font-size: 25px;
  margin-top: -20px;
  font-weight: 600;
}
.navgition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.mobile-menu-icon {
  display: none;
  font-size: large;
}

.navgition .logo {
  color: black;
  font-size: 32px;
  font-weight: bold;
  max-width: 20%;
}
.navlist ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-weight: 300;
  font-weight: 14px;
}
.searchbar {
  position: relative;
}
/* .searchbar .fa-magnifying-glass {
  position: absolute;
  top: 15px;
  left: 20px;
  color: gray;
  font-size: 20px;
} */
.searchbar input {
  width: 520px;
  padding: 15px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navicon {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navicon i {
  font-size: large;
}

.navicon .fa-magnifying-glass {
  display: none;
}
/* ##########mainhero####### */
main {
  background-color: #f2f0f1;
  height: 660px;
}
.hero1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.hero1 .herocontent {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.heroimg {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.heroimg img {
  width: 620px;
}

.star1 {
  position: absolute;
  top: 285px;
  left: 25px;
  width: 50px !important;
}

.star2 {
  position: absolute;
  top: 90px;
  right: 40px;
  width: 80px !important;
}

.content1 h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
}
.content1 p {
  color: black;
  opacity: 60%;
  font-weight: 400;
  margin-top: 15px;
}
.content1 button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 15px 60px;
  border-radius: 50px;
  margin-top: 15px;
}
.downloads {
  display: flex;
  justify-content: space-between;
}
.downloads h1 {
  font-size: 40px;
  font-weight: 600;
}
/* #########sectionlogo########## */
.sectionlogo {
  background-color: black;
}
.sectioncontent {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
/* #####section2222222######### */
.section2 h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 35px;
}
.section2 .productimg {
  display: flex;
  justify-content: space-between;
}
.productimg .img1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productimg .img2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productimg .img3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productimg .img4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productimg h2 {
  font-size: 24px;
  font-weight: 600;
}
.productimg h3 {
  font-size: 20px;
  font-weight: bold;
}
.productimg .dis1 {
  display: flex;
  gap: 20px;
}
.productimg .dis2 {
  display: flex;
  gap: 20px;
}
.productimg .rating {
  display: flex;
  gap: 10px;
}
.productimg .rating p {
  font-size: 14px;
  font-weight: 300;
}
.dis1 h3 {
  color: gray;
  font-size: 24px;
  font-weight: 600;
}
.dis2 h3 {
  color: gray;
  font-weight: 600;
  font-size: 24px;
}
.section2 .btn {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 55px;
}
.section2 .btn button {
  background-color: white;
  padding: 15px 60px;
  border-radius: 50px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid lightgray;
}
/* ##########secxtion3333333# */
.section3 h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 35px;
}
.section3 .section3content {
  display: flex;
  justify-content: space-between;
}
.section3content .img5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3content .img6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3content .img7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3content .img8 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3content h2 {
  font-size: 24px;
  font-weight: 600;
}
.section3content h3 {
  font-size: 20px;
  font-weight: bold;
}
.section3content .dis3 {
  display: flex;
  gap: 20px;
}

.section3content .rating {
  display: flex;
  gap: 10px;
}
.section3content .rating p {
  font-size: 14px;
  font-weight: 300;
}
.dis3 h3 {
  color: gray;
  font-size: 24px;
  font-weight: 600;
}

.section3 .btn2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 55px;
}
.section3 .btn2 button {
  background-color: white;
  padding: 15px 60px;
  border-radius: 50px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid lightgray;
}
/* #######3section444444### */
.section4 {
  background-color: #f0f0f0;
  border-radius: 30px;
}
.section4 h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  padding-top: 55px;
  padding-bottom: 35px;
}
.section4 h2 {
  font-size: 25px;
  font-weight: 600;
}

.dress-card {
  position: relative;
  height: 280px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.dress-card h2 {
  position: relative;
  z-index: 1;
}

.dress-card-sm {
  width: 30%;
}

.dress-card-lg {
  width: 60%;
}

.dress-card-sm img {
  height: 100%;
}

.dress-card-lg img {
  height: 200%;
}

.dress-card img {
  position: absolute;
  top: 0;
  right: 0;
}

.sectionimg4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0px 100px;
  padding-bottom: 50px;
}
/* #####section55555########## */
.section5 h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.section5 .arrow {
  margin-top: 120px;
  margin-bottom: 35px;
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.reviewssectionn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.reviewssectionn .name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewssectionn h2 {
  font-weight: 600;
}
.contentbox1 {
  max-width: 30%;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.contentbox2 {
  max-width: 30%;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.contentbox3 {
  max-width: 30%;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
/* ######emailsection#### */
.section6 {
  background-color: black;
  color: white;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  margin-top: 85px;
}
.contactsection {
  /* padding: 20px 80px; */
  display: flex;
  justify-content: space-evenly;
  gap: 90px;
  height: 210px;
  align-items: center;
}
.contactsection h1 {
  font-size: 40px;
  font-weight: 900;
  max-width: 45%;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.email input {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 15px 15px;
  width: 270px;
}
.email input::placeholder {
  padding-left: 20px;
}
.email button {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 15px 15px;
  width: 270px;
  color: black;
  font-weight: 600;
}
/* ############3footer######### */
footer {
  background-color: #f0f0f0;
  margin-top: -80px;
}
.footercontent1 {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}
.flogo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -15px;
  width: 25%;
}
.flogo h1 {
  font-size: 32px;
  font-weight: bold;
}
.ficon {
  font-size: 18px;
}
.ficon .fa-facebook {
  background-color: #000000;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid lightgray;
  color: white;
}
.ficon .fa-instagram,
.fa-twitter,
.fa-youtube {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid lightgray;
}
.footercontent1 {
  padding-bottom: 50px;
}
.footercontent1 h2 {
  font-size: 20px;
  font-weight: 500;
}
.footercontent1 ul {
  list-style-type: none;
}
.footercontent1 ul li {
  padding-top: 10px;
  font-size: 16px;
  color: #000000;
  opacity: 60%;
  font-weight: 400;
}

.footerend {
  font-size: 16px;
  color: #000000;
  opacity: 60%;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.footerend p {
  padding-top: 30px;
  padding-bottom: 70px;
}
.footerend .socialicon {
  padding-top: 22px;
}

/* ##########################PRODUCTTTTTTTTTTTTTTTTTT PAGEEEEEE#######3 */
.productsection .productmenu ul {
  display: flex;
  gap: 10px;
  padding: 15px 0px;
}
.productsection .productmenu ul li {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.6);
}
.productsection .productmenu .tshirt {
  color: black;
}
/* ######productmaincontent########## */
.productmaincontent {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.productmaincontent .gshirts{
    display: flex;
    gap: 15px;
   
}
.smallshirts {
  display: flex;
  flex-direction: column;
 gap: 15px;
}

.prdctsectioncontent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 50%;
}
.prdctsectioncontent h1 {
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
}
.prdctsectioncontent .prdctstar {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: -8px;
}
.prdctstar img {
  width: 130px;
}
.prdctstar h6 {
  font-size: 16px;
  font-weight: 400;
}
.prdctsectioncontent .price {
  display: flex;
  gap: 10px;
}
.price h2 {
  font-size: 28px;
  font-weight: 600;
}
.price h3 {
  font-size: 28px;
  font-weight: 600;
  color: gray;
}
.price img {
  width: 75px;
}
.prdctsectioncontent p {
  color: rgba(0, 0, 0, 0.6);
}
.prdctsectioncontent .circle img {
  padding-top: 8px;
}
.prdctsectioncontent .size h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.size .sizep .dark {
  background-color: black;
  color: white;
}
.size .sizep {
  display: flex;
  gap: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.size .sizep p {
  background-color: #f0f0f0;
  padding: 12px 22px;
  border-radius: 50px;
}
.prdctsectioncontent .cart {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 5px;
}
.cart .plusminus {
  display: flex;
  gap: 37px;
  background-color: #f0f0f0;
  padding: 8px 50px;
  border-radius: 50px;
}
.cart .plusminus h5 {
  font-size: 23px;
  font-weight: 400;
}
.cart .addcart {
  background-color: black;
  padding: 15px 127px;
  border-radius: 50px;
}
.cart .addcart h5 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: white;
}
/* ############productsection22222222############3 */
.heading {
  display: flex;
  justify-content: space-evenly;
  gap: 190px;
  margin-top: 70px;
  margin-bottom: 15px;
}
.heading p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.heading .headingpp {
  color: #000000;
}
/* #####productsection2222###### */
.productreviews {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}
.allreviews {
  display: flex;
  gap: 10px;
  align-items: center;
}
.allreviews h1 {
  font-size: 28px;
  font-weight: bold;
}
.allreviews p {
  font-size: 14px;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}
.reviewswrite {
  display: flex;
  gap: 15px;
  align-items: center;
}
.reviewswrite img {
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 50px;
}
.reviewswrite p {
  background-color: #f0f0f0;
  padding: 12px 15px;
  border-radius: 50px;
}
.reviewswrite .latest .fa-solid {
  padding-left: 20px;
}
.reviewswrite .review11 p {
  padding: 12px 25px;
  background-color: black;
  color: white;
}
/* ###########cardsection###########3 */
.reviewscard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.reviewscard .ystar {
  width: 100px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 49%;
  border-radius: 20px;
}
.card1 .cardstarimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardstarimg .fa-ellipsis {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.card1 .cardheading1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card1 .cardheading1 h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
}
.card1 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.card1 h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
}

.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 49%;
  border-radius: 20px;
}
.card2 .cardstarimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card2 .cardheading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card2 .cardheading h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
}
.card2 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.card2 h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
}

.card3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 49%;
  border-radius: 20px;
}
.card3 .cardstarimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card3 .cardheading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card3 .cardheading h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
}
.card3 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.card3 h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
}

.card4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 49%;
  border-radius: 20px;
}
.card4 .cardstarimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card4 .cardheading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card4 .cardheading h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
}
.card4 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.card4 h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
}

.card5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 49%;
  border-radius: 20px;
}
.card5 .cardstarimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card5 .cardheading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card5 .cardheading h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
}
.card5 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.card5 h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
}

.card6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 49%;
  border-radius: 20px;
}
.card6 .cardstarimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card6 .cardheading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card6 .cardheading h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
}
.card6 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.card6 h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
}

.btn3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
.btn3 button {
  background-color: white;
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ##########3###############categoryyyyyyyyyyyyyyyyypage#################### */
.category1 {
  display: flex;
  gap: 30px;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 25%;
  height: 80%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 18px 22px;

  border-radius: 20px;
}
.filters h2 {
  font-size: 20px;
  font-weight: 600;
}
.filters p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.filters .fa-solid {
  color: rgba(0, 0, 0, 0.6);
}
.filters .fa-angle-up {
  color: #000000;
}
.filters .chead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.filters .pshirt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.filters .cprice {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}
.cprice .cp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cprice .num {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 88px;
  margin-top: -8px;
}
.cprice .num h5 {
  font-weight: 400;
}
.filters .colours {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}
.colours .cclr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colours .clrname {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.filters .sizes {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}
.sizes .shead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sizes .exactsize {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.sizes .exactsize h4 {
  font-size: 16px;
  font-weight: 300;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6);
}
.sizes .exactsize h3 {
  font-size: 16px;
  font-weight: 300;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
}

.dress .dhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}
.filters button {
  border: none;
  outline: none;
  background-color: black;
  padding: 18px 48px;
  color: white;
  border-radius: 50px;
  margin-top: 5px;
}
/* <!-- ############categoryimges############ --> */
.cimges {
  /* max-width: 78%; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.cimagecontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cimagecontent h1 {
  font-size: 38px;
  font-weight: 600;
}
.hcasual p{
  display: none;
}
.smallfilter{
  display: none;
}
.cimagecontent .rightcontent {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rightcontent p {
  color: rgba(0, 0, 0, 0.6);
}
.rightcontent span {
  color: #000000;
  font-weight: 500;
}
.rightcontent .fa-angle-down {
  color: #000000;
}
/* ############allimages############# */
.callimages .callimg6{
  display: none;
}
.callimages .callimg7{
  display: none;
}
.callimages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px;
}
.callimages img{
  width: 265px;
}
.callimages h2,
h3,
h4 {
  font-weight: 600;
  /* font-size: 20px; */
}
.callimages .rating {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 5px;
}
.callimages .rating img{
  width: 70px;
}
.callimages .dis3 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}
.callimages .dis3 img{
  width: 70px;
}
.callimages .dis2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}
.callimages .dis2 img{
  width: 70px;
}
.callimages .dis1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}
.callimages .dis1 img{
  width: 70px;
}
.callimages .cimg1 {
  padding-top: 18px;
}
.callimages .ccntnt {
  padding-top: 8px;
}
/* #########catagorypages###### */
.cpagesnum2{
  display: none;
}
.cpagesnum {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.cpagesnum .cprevious {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
}
.cpagesnum .pagenumbers {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cpagesnum .cnext {
  display: flex;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
}
.cpagesnum h6 {
  font-size: 14px;
  font-weight: 500;
}
.cpagesnum p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.cpagesnum h5 {
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}
/* ##########################Cartpage############################## */
.csection h1 {
  font-size: 45px;
  font-weight: 900;
}
.csection .cartimg {
  width: 124px;
  height: 124px;
}
.cartsection {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.cartsection .cartbox1 {
  width: 65%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 20px 24px; */
  border-radius: 20px;
}
.cartbox1 h3 {
  font-weight: 600;
  font-size: 20px;
}
.cartbox1 h2 {
  font-size: 24px;
  font-weight: 600;
}
.cartbox1 .chr {
  padding: 0px 24px;
}

.gradiantshirt {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}
.gradiantshirt .gshirtimg {
  display: flex;
  gap: 10px;
}
.gradiantshirt .dleticon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gradiantshirt .gshirtcontent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.gshirtcontent .shirtssize {
  display: flex;
  gap: 5px;
}
.shirtssize .slight {
  color: rgba(0, 0, 0, 0.6);
}
.gshirtcontent p {
  font-size: 14px;
  font-weight: 400;
}
.gshirtcontent .dis1 {
  padding-top: 8px;
}

.dleticon .fa-trash-can {
  color: #ff3333;
  font-size: 20px;
  font-weight: 900;
  align-self: flex-end;
}
.dleticon .cart .plusminus {
  display: flex;
  gap: 25px;
  background-color: #f0f0f0;
  padding: 8px 20px;
  border-radius: 50px;
}
.dleticon .cart .plusminus h5 {
  font-size: 18px;
  font-weight: 600;
}
/* ##############cartbox22222###### */
.cartsection .cartbox2 {
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 55px;
}
.cartbox2 h1 {
  font-size: 24px;
  font-weight: 600;
}
.ordersummary {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.ordersummary .subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordersummary h5 {
  font-size: 20px;
  font-weight: 600;
}
.ordersummary p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.ordersummary h6 {
  font-size: 20px;
  font-weight: 600;
  color: #ff3333;
}
.ordersummary .discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordersummary .dfee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total h4 {
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.total h3 {
  font-size: 24px;
  font-weight: 600;
}
.orderbtn {
  display: flex;
  gap: 15px;
}
.orderbtn p {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 43px;
  padding-right: 100px;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6);

  font-weight: 300;
}
.orderbtn .bdark {
  background-color: #000000;
  color: white;
  padding: 10px 40px;
}
.checkout {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 15px 100px;
  border-radius: 50px;
}
.checkout p {
  font-weight: 300;
}

.heading-break {
  display: none;
}

/* ######################mediaqurries######################## */
                        /* #######indexpage####### */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .container {
    max-width: 380px;
  }

  .top .cross {
    display: none;
  }

  .top p {
    font-size: 12px;
  }

  .top p span {
    font-size: 12px;
  }

  .navgition {
    padding: 14px 0px;
  }

  .navgition ul {
    display: none;
  }
  .searchbar {
    display: none;
  }
  .navlist2{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px; */
    position: absolute;
    color: white;
    top: 100px;
    left: 0px;
    background-color: black;
    width: 100%;
    opacity: 0.85;
    padding: 10px 25px;
    text-align: center;
    z-index: 5;

  }
  .navlist2 ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

  }

  /* .navgition .logo {
        font-size: 22px;
    } */

  .mobile-menu-icon {
    display: block;
  }

  .navicon .fa-magnifying-glass {
    display: block;
  }

  .showData{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  main {
    height: auto;
  }

  .hero1 {
    height: auto;
    flex-direction: column;
  }

  .hero1 .herocontent {
    max-width: 100%;
    margin-top: 32px;
  }

  .content1 h1 {
    font-size: 32px;
    line-height: 28px;
  }

  .content1 p {
    font-size: small;
  }

  .content1 button {
    width: 100%;
  }

  .downloads {
    justify-content: center;
    flex-wrap: wrap;
  }
  .downloads > div {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .downloads h1 {
    font-size: 28px;
    line-height: 28px;
  }

  .downloads p {
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
  }

  .downloads .dwnld1 {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
  }

  .downloads .dwnld3 {
    padding-top: 20px;
  }

  .heroimg {
    height: 400px;
  }

  .heroimg img {
    width: 100%;
  }

  .sectionlogo .sectioncontent {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .sectionlogo img {
    height: 24px;
  }

  .section2 h1 {
    font-size: 32px;
  }

  .section2 .productimg {
    gap: 20px;
    overflow: scroll;
  }

  .section3 .section3content {
    gap: 20px;
    overflow: scroll;
  }

  .section4 h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .heading-break {
    display: block;
  }

  .sectionimg4 {
    margin: 0px 20px;
  }

  .dress-card {
    height: 190px;
  }
  .dress-card-lg {
    width: 100%;
  }

  .dress-card-sm {
    width: 100%;
  }

  .dress-card-lg img {
    height: 100%;
  }

  .section5 .arrow {
    margin-top: 50px;
  }

  .section5 h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .reviewssectionn {
    overflow: scroll;
    gap: 20px;

}

.reviewssectionn > div{
min-width: 380px;
}

.contactsection {
    padding: 20px 20px;
    gap: 50px;
    height: auto;
    flex-direction: column;
}

.contactsection h1 {
    font-size: 32px;
    line-height: 32px;
    max-width: 100%;
}

.contactsection .email {
    width: 100%;
}
.contactsection .email > * {
    width: 100%;
}

.footercontent1 {
    flex-wrap: wrap;
  }

  .footercontent1 > div {
   width: 50%;
   padding-bottom: 20px;
  }

  .flogo {
    width: 100% !important;
  }

  .footerend{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .footerend p {
    padding: 0;
}

.footerend .socialicon {
    padding:0;
}
}

/* ############productpageeee###### */
@media only screen and (max-width: 768px){
    .container {
        max-width: 380px;
      }
    .productmaincontent {
        display: flex;
        flex-direction: column;
        gap: 10px;
       margin-top: 20px;
    }

    .productmaincontent .gshirts {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }
    .gshirts .mainimg2 img{
        width: 383px;
        height: auto;
    }
    .gshirts .smallshirts {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .gshirts .smallshirts img{
        width: 117px;
        height: auto;
    }

    .prdctsectioncontent {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 100%;
    }
    .prdctsectioncontent h1 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 900;
        text-transform: uppercase;
       
    }
    .price h2{
        font-size: 24px;
        font-weight: 600;
    }
    .price h3{
        font-size: 24px;
        font-weight: 600;
    }
    .price img{
        width: 62px;
        height: auto;
    }
    .prdctsectioncontent p {
      font-size: 14px;
    }
    .size .sizep p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 7px 20px;
        border-radius: 40px;
    }

    .cart .plusminus {
      gap: 25px;
    padding: 12px 24px;
    
  }
  .cart .plusminus h5 {
    font-size: 16px;
    font-weight: 400;
  }
  .cart .addcart {
    padding: 16px 80px;
  }
  .cart .addcart h5 {
    font-size: 14px;
    
  }


  .heading {
    justify-content: space-between;
    gap: 50px;
   
  }
  .heading p {
    font-size: 16px;
  }


  .allreviews {
    gap: 5px;
   }
  .allreviews h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .reviewswrite {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .reviewswrite img {
   width: 42px;
   height: 42px;
    padding: 12px;
    border-radius: 50px;
  }
  .reviewswrite .latest{
    display: none;
  }
  .reviewswrite .review11 p {
    padding: 12px 16px;
    font-size: 12px;
  }


  .card1 {
    padding: 25px;
    max-width: 100%;
   
  }
  .reviewscard .ystar {
    width: 107px;
  }
  .cardheading1 h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 0px;
  }
  .cardheading1 p{
    font-size: 14px;
  }
  .card1 h4 {
    padding-top: 10px;
  }

  .card2 {
    padding: 25px;
    max-width: 100%;
   
  }
  .reviewscard .ystar {
    width: 107px;
  }
  .cardheading1 h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 0px;
  }
  .cardheading1 p{
    font-size: 14px;
  }
  .card1 h4 {
    padding-top: 10px;
  }

  .card3 {
    padding: 25px;
    max-width: 100%;
   
  }
  .reviewscard .ystar {
    width: 107px;
  }
  .cardheading1 h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 0px;
  }
  .cardheading1 p{
    font-size: 14px;
  }
  .card1 h4 {
    padding-top: 10px;
  }

.reviewscard .card4, .card5, .card6{
    display: none;
  }
  .btn3 button {
    font-size: 14px;
    font-weight: 400;
   
  }

  .section3 h1 {
    line-height: 40px;
    font-size: 44px;
    text-align: center;
  }
}

/* ########categorypagemediaquerries##### */
@media only screen and (max-width: 768px){

.category1 .filters{
  display: none;
}
.cimagecontent .rightcontent{
  display: none;
}
.cimagecontent {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
 
}
.casualdesign{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hcasual{
  display: flex;
  align-items: center;
  gap: 8px;
}
.hcasual h1{
  font-size: 24px;
}
.hcasual p{
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.smallfilter{
  display: block;
}
.smallfilter img{
  background-color: #F0F0F0;
  /* width: 32px; */
  padding: 10px;
  border-radius: 62px;
  
}


.callimages {
  gap: 30px;
}
.callimages img{
  width: 172px;
    height: auto;
}
.callimages .rating img{
  width: 67.9px;
}
.callimages h3{
  font-size: 16px;
}
.callimages h2 {
  font-size: 20px;
 
}
.callimages p{
  font-size: 12px;
}
.callimages .dis3 img{
  width: 42px;
  height: auto;
}
.callimages .dis1 img{
  width: 42px;
  height: auto;
}
.callimages .dis2 img{
  width: 42px;
  height: auto;
}
.callimages .img6, .img7{
  display: none;
}
.callimages .cimg5, .cimg6, .cimg7{
  display: none;
}
.callimages .callimg6{
  display: block;
}
.callimages .callimg7{
  display: block;
}


.cpagesnum{
  display: none;
}
.cpagesnum2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cpagesnum2 .cprevious {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
}
.cprevious h6{
  font-size: 12px;
}
.cpagesnum2 .pagenumbers {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cpagesnum2 h5 {
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
  border-radius: 10px;
}
.cpagesnum2 p {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.cpagesnum2 .cnext {
  display: flex;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 8px 14px;
  border-radius: 10px;
}
.cnext h6{
  font-size: 12px;
}

}
/* #########cartpagemediaqurries##### */
@media only screen and (max-width: 768px){
  .productsection .productmenu ul {
   padding-top: 18px;
   padding-bottom: 8px;
}
.csection h1 {
  font-size: 32px;
}
.cartsection {
  flex-direction: column;
 
}
.cartsection .cartbox1 {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 5px 5px; */
  border-radius: 20px;
}
.gradiantshirt {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px;
}
.dleticon .fa-trash-can {
  font-size: 16px;
  
}
.gradiantshirt .gshirtcontent {
  gap: 5px;
}
.gshirtcontent p {
  font-size: 12px;
}
.gshirtimg img{
  width: 99px;
  height: 99px;
}
.cartbox1 h2 {
  font-size: 20px;
}
.cartbox1 h3 {
  font-size: 14px;
}
.cartbox1 .chr2{
  display: none;
}
.dleticon .cart .plusminus {
  gap: 20px;
 padding: 8px 20px;
  border-radius: 62px;
}


.cartsection .cartbox2 {
  width: 100%;
 padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 0px;
}
.csection h1 {
  font-size: 24px;
}
.ordersummary p {
  font-size: 16px;
}
.ordersummary h5 {
  font-size: 16px;
}
.ordersummary h6 {
  font-size: 16px;
}
.total h4 {
  font-size: 16px;
}
.orderbtn p {
  padding: 12px 25px;
  border-radius: 62px;
  font-weight: 500;
}
.orderbtn .bdark {
  padding: 12px 42px;
  font-size: 14px;
}
.checkout {
  padding: 16px 54px;
  border-radius: 62px;
}
.checkout p {
  font-weight: 500;
  font-size: 14px;
}



}